2021/crystal/day*/part1
2022/testdata/**
2022/**/puzzle
2022/**/sample
2023/input
2023/rust/**/.vscode
2023/scala/.clj-kondo
2023/scala/.lsp
**/.DS_Store
**/target
2024/python/data/**
2024/python/old
2024/python/__pycache__/**
